test/.vagrant
node_modules
*.tgz
*.tar.gz
test/loopback-example-app
coverage
.nyc_output
*.tap
intl/MSG.json
intl/de
intl/es
intl/fr
intl/it
intl/ja
intl/ko
intl/pt
intl/ru
intl/zh-Hans
intl/zh-Hant
intl/en/*.json
